*.pdf
*.PDF
*~
*.fcstd1
*.FCStd1
*.save
*.net
*.cmd
*.stp
*.igs
*.IGS
*new.pcb
*old.pcb
*.bak
*.bak0
*.bak1
*.bak2
*.svg
*.gbr
*.ngc
*.cnc
*.drill
*.bom
*.xy
*.pyc
*.log
*.hex
*.elf
/firmware/dist/default/
/firmware/build/default/
/firmware/disassembly/
MPLABXLog*
*#
/bootloader/dist/default/
/bootloader/build/default/
/bootloader/nbproject/private/
/firmware/nbproject/private/
/test/experiments/
/bootloader/build/internal_clock/
/bootloader/dist/internal_clock/
/bootloader/build/external_clock/
/bootloader/dist/external_clock/
