*.pdf
*.PDF
*~
*.fcstd1
*.FCStd1
*.save
*.net
*.cmd
*.stp
*.igs
*.IGS
*new.pcb
*old.pcb
*.bak
*.bak0
*.bak1
*.bak2
*.svg
*.gbr
*.ngc
*.cnc
*.drill
*.bom
*.xy
*.pyc
*.log
*.hex
*.elf
/firmware/dist/
/firmware/build/
/firmware/disassembly/
/firmware/infer-out/
MPLABXLog*
*#
/bootloader/dist/
/bootloader/build/
/bootloader/nbproject/private/
/firmware/nbproject/private/
/test/experiments/
/software/build/
