*.pdf
*.PDF
*~
*.fcstd1
*.save
*.net
*.cmd
*.stp
*.igs
*.IGS
*new.pcb
*old.pcb
*.bak
*.svg
*.gbr
*.ngc
*.cnc
*.drill
*.bom
*.xy
/firmware/dist/default/
/firmware/build/default/
MPLABXLog*
*#
/bootloader/dist/default/
/bootloader/build/default/
